.homepage_front_container {
    width: 79.5vw;
    height: 68.15vh;
    margin: 0vh 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;

    background-color: #E7816B;
    background-image: url('../../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    overflow: hidden;
}

.mobile_image {
    margin-top: 24vh;
}

.homepage_front_content_container {
    margin: 0vh 10vw 0vw 5vw;
}

.homepage_front_content_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.homepage_front_content_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.homepage_front_content_button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;

    background-color: #fff;
    border: 2px solid #fff;
    padding: 1vh 2vw;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3vh;
}

.homepage_front_content_button:hover {
    background-color: #FFAD9B;
    color: #fff;
    border-color: #FFAD9B;
}

@media screen and (max-width: 1457px) {
    .homepage_front_content_title {
        font-size: 32px;
        line-height: 36px;
    }

    .homepage_front_content_container {
        margin: 0vh 0vw 0vw 5vw;
    }

    .homepage_front_content_description {
        width: 70%;
    }
}

@media screen and (max-width: 1161px) {
    .homepage_front_content_description {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1083px) {
    .mobile_image {
        width: 500px;
    }
}

@media screen and (max-width: 940px) {
    .homepage_front_content_title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 874px) {
    .homepage_front_container {
        flex-direction: column;
        height: 89.77vh;
        background-position: center center;
    }

    .homepage_front_content_container {
        width: 80%;
        margin: 0px;
        text-align: center;
    }

    .mobile_image {
        margin-top: -12vh;
        width: auto;
    }
}

@media screen and (max-width: 375px) {
    .homepage_front_container {
        width: 100%;
        height: 114vh;
        margin: 0px;
        background-position: left center;
    }

    .homepage_front_content_title {
        font-size: 32px;
        line-height: 36px;
    }

    .homepage_front_content_description {
        width: 90%;
    }

    .homepage_front_content_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile_image {
        margin-top: -20vh;
    }

    .homepage_front_content_button {
        padding: 2vh 6vw;
    }
}