.homepage_link_container {
    width: 79.5vw;
    height: 68.15vh;
    margin: 0vh 10vw;
    position: relative;
    z-index: 200;

    display: flex;
    justify-content: space-between;

    /* border: 2px solid black; */
    margin-top: 15vh;
}

@media screen and (max-width: 768px) {
    .homepage_link_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .homepage_link_container {
        height: auto;
        width: auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}