.navbar_links_container {
    list-style: none;
    display: flex;
    padding: 0px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
}

.navbar_links_container li {
    margin-left: 2.19vw;
}

.navbar_links_container li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar_links_container_light {
    color: #fff;
}

.navbar_menu_icon {
    display: none;
}

.backdrop {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 490;
}

@media screen and (max-width: 679px) {
    .navbar_links_container {
        display: none;
    }

    .navbar_menu_icon {
        display: block;
    }
}