.homepage_features_item_conatiner {
    text-align: center;
}

.homepage_features_item_image {
    background-image: url('../../../assets//shared/desktop/bg-pattern-small-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.homepage_features_item_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    text-align: center;
    letter-spacing: 5px;

    color: #333136;
}

.homepage_features_item_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #333136;
    width: 18.24vw;
}

@media screen and (max-width: 860px) {
    .homepage_features_item_conatiner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
    }

    .homepage_features_item_title {
        text-align: left;
    }

    .homepage_features_item_description {
        width: 100%;
        text-align: left;
    }

    .homepage_features_content_container {
        width: 60%;
    }
}

@media screen and (max-width: 580px) {
    .homepage_features_item_conatiner {
        flex-direction: column;
    }

    .homepage_features_item_title {
        text-align: center;
    }

    .homepage_features_item_description {
        width: 100%;
        text-align: center;
    }

    .homepage_features_content_container {
        width: 100%;
    }
}