.footer_container {
    background-color: #1D1C1E;
    height: 41.85vh;
    width: 100%;
    position: relative;
    z-index: 5;
}

.footer_navbar_container {
    padding-top: 7vh;
    /* margin-top: 120vh; */
    /* border: 2px solid red; */
}

.footer_information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;

    margin: 0vh 10vw;
}

.footer_address_normal {
    font-weight: normal;
}

.footer_icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;
}

.footer_icon_container img {
    cursor: pointer;
}