.homepage_feature_container {
    width: 79.5vw;
    height: 43.87vh;
    margin: 0vh 10vw;
    position: relative;
    z-index: 200;

    display: flex;
    justify-content: space-between;

    /* border: 2px solid black; */
    margin-top: 15vh;
}