.design_content_list_container {
    width: 79.5vw;
    /* height: 43.87vh; */
    margin: 0vh 10vw;
    position: relative;
    z-index: 200;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    /* border: 2px solid black; */
    margin-top: 15vh;
}

@media screen and (max-width: 900px) {
    .design_content_list_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .design_content_list_container {
        margin-left: 5vw;
        margin-right: 5vw;
        width: auto;
    }
}