.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 10vw;
}

.navbar_container img {
    /* width: 10.53vw; */
    height: 2.87vh;
    cursor: pointer;
}

@media screen and (max-width: 679px) {
    .navbar_container {
        margin-left: 3vh;
        margin-right: 3vh;
        flex-direction: column;
        align-items: center;
    }

    .navbar_container img {
        margin-bottom: 5vh;
    }
}