.contact_header_container {
    width: 79.5vw;
    height: 51.11vh;
    margin: 0vh 10vw;
    border-radius: 14px;
    margin-top: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;

    background-color: #E7816B;
    background-image: url('../../../assets/about/desktop/bg-pattern-hero-about-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    overflow: hidden;
}

.contact_header_image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_header_content_container {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #FFFFFF;
    margin-left: 7vw;
    width: 80vw;
}

.contact_header_content_title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 0px;
}

.contact_header_content_description {
    width: 30vw;
}

.contact_header_image form {
    width: 480px;
}

.contact_header_input_container {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 3vh;
    border-bottom: 2px solid #fff;
    width: 480px;
}

.contact_header_input_error_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    /* border-bottom: 2px solid #fff; */
    width: 172.6px;
    height: 3.55vh;
    /* padding-bottom: 2.5px; */
}

.contact_header_input_error_container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    /* border-bottom: 2px solid #fff; */
    width: 172.6px;
    height: 11.3vh;
    /* padding-bottom: 7.9vh; */
}

.contact_header_input_container input {
    background-color: transparent;
    outline: none;
    border: none;
    /* border-bottom: 2px solid #fff; */
    color: #fff;
    font-weight: 500;
    padding: 1vh 0.5vw;
    width: 287.7px;
}

.contact_header_input_container textarea {
    background-color: transparent;
    outline: none;
    border: none;
    /* border-bottom: 2px solid #fff; */
    color: #fff;
    font-weight: 500;
    padding: 1vh 0.5vw;
    width: 287.7px;
    resize: none;
}

.contact_header_input_container input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact_header_input_container textarea::placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact_header_input_container:has(input:focus) {
    outline: none;
    border-bottom: 4px solid #fff;
}

.contact_header_input_container:has(textarea:focus) {
    outline: none;
    border-bottom: 4px solid #fff;
}

.contact_header_input_container p {
    color: #fff;
    width: 115px;
    text-align: center;
    line-height: 0px;
}

.contact_header_submit_button {
    background-color: #fff;
    width: 25%;
    padding: 1vh 0px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.contact_header_submit_button:hover {
    color: #fff;
    background: #FFAD9B;
}

.contact_header_submit_button_container {
    width: 480px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1420px) {

    .contact_header_container {
        height: 75.71vh;
        background-position: top left;
        background-size: 80% 70%;
        flex-direction: column;
    }

    .contact_header_image form {
        width: 100%;
        margin-left: 7.5vw;
        margin-right: 10vw;
    }


    .contact_header_content_container {
        margin-left: 15vw;
        margin-top: 3vh;
        width: 100%;
    }

    .contact_header_content_description {
        width: 80%;
    }

    .contact_header_input_container {
        width: 100%;
    }

    .contact_header_input_container input {
        width: 80%;
    }

    .contact_header_input_container textarea {
        width: 80%;
    }

    .contact_header_input_container p {
        width: 80%;
    }

    .contact_header_submit_button_container {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .contact_header_input_container input {
        width: 70%;
    }

    .contact_header_input_container textarea {
        width: 70%;
    }
}

@media screen and (max-width: 375px) {
    .contact_header_container {
        margin: 0px;
        border-radius: 0px;
        width: auto;
        height: auto;
        padding-bottom: 4rem;
    }

    .contact_header_content_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-bottom: 5vh;
    }

    .contact_header_content_description {
        width: 90%;
        text-align: center;
    }

    .contact_header_input_error_container {
        width: 65%;
    }

    .contact_header_input_error_container1 {
        width: 65%;
    }

    .contact_header_input_container p {
        width: 95%;
    }
}