.background_div {
    width: 70vw;
    height: 63.26vh;
    background-image: url('../../../assets/shared/desktop/bg-pattern-leaf.svg');
    background-size: 70vw 63.26vh;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 50.58vh;
    z-index: 1;
}

.background_div_invert {
    width: 70vw;
    height: 63.26vh;
    background-image: url('../../../assets/shared/desktop/bg-pattern-leaf.svg');
    background-size: 70vw 63.26vh;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 191vh;
    transform: rotate(180deg);
    z-index: 1;
}

.background_div_web {
    top: 29.92vh;
}

.background_div_location {
    top: 185vh;
    transform: translateX(30vw);
}

.background_div_contact {
    width: 70vw;
    height: 100%;
    background-image: url('../../../assets/shared/desktop/bg-pattern-leaf.svg');
    background-size: 70vw 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 94vh;
    z-index: 1;
}

/* .background_div_about {
    top: 50.58vh;
} */

@media screen and (max-width: 768px) {
    .background_div {
        display: none;
    }

    .background_div_invert {
        display: none;
    }

    .background_div_web {
        display: none;
    }

    .background_div_location {
        display: none;
    }

    .background_div_contact {
        display: none;
    }
}